<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
  <title></title>
</head>

<body>
<div class="container">
    <form method ="GET">
    <label for="question"></label><br>
    <div>
        <input type="text" id="question" name=question value="{{question}}" autocomplete="off"><input type="submit" id="submit" name="submit" value="Go">
    </div>
    <div>
        <label for="answer"></label><input type="text" id="answer" name=question value="{{answer}}" disabled>
    </div>
    </form>
</div>
</body>

</html>